.navbar-brand{
    width: 10%;
    margin: 0;
    #logo{
        width: 100%;
    }
}

#avatar{
    width: 8%;
    img{
        width: 100%;
    }
}

.dropdown{
    width: 8%;
    a{
        padding: 0;
        img{
            width: 100%;
        }
    }  
}

#second-ul{
    width: 60%;
}
